<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="LoginCss.css">
    <title>Login</title>
</head>

<body>

    <div id="LoginBox">


        <p id="LoginText"> <span style="font-weight: bold;">The Strong </span>Math</p>
        <div id="LoginLeft">
            <img src="/src/resourse/LoginImage.jpg" alt="" id="LoginImage">
        </div>

        <div id="LoginRight">
            <form>

                <div id="Login_Box_id_pass_sub">
                    <p class="Login_Text">Name</p><input type="text" class="Login_ID_AND_PASSWORD">
                    <p class="Login_Text">Password</p><input type="password" class="Login_ID_AND_PASSWORD">
                    <button type="button" id="Login_Submit" value="LOGIN" onclick="alert('아직 로그인 기능이 완성되지 않았습니다.')">Sign in</button>
                </div>
            </form>
        </div>
    </div>


</body>

</html>