<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <link rel="stylesheet" href="/src/css/contents.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</head>
<body>
<div id="index_box">
    <%- include('../../common/left_menu') %>
    <div id="box_right">
        <div id="box_right_padding">
            <i id="menu_open" onclick="menu_open()" class="fas fa-bars"></i>
            <p id="right_title">All Categories</p>
            <p id="right_content">This page shows all categories.</p>
            <div id="box_list">
                <div class="categories_box"
                     style="background: url('/src/img/list/stock-g4e3906ecd_1920.jpg') no-repeat center center; background-size: cover; color: #ffffff;"
                     onclick="location.href = 'http://localhost/candles/custom/history'">
                    <p>C U S T O M</p>
                </div>
                <div class="categories_box"
                     style="background: url('/src/img/list/bitcoin.jpeg') no-repeat center center; background-size: cover; color: #ffffff;"
                     onclick="location.href = 'http://localhost/candles/history?coin_name=KRW-BTC'">
                    <p>B I T C O I N</p>
                </div>
                <div class="categories_box"
                     style="background: url('/src/img/list/ethereum.png') no-repeat center center; background-size: cover; color: #ffffff;"
                     onclick="location.href = 'http://localhost/candles/history?coin_name=KRW-ETH'">
                    <p style="text-transform: uppercase">E t h e r e u m</p>
                </div>
                <div class="categories_box"
                     style="background: url('/src/img/list/waves-logo.jpg') no-repeat center center; background-size: cover; color: #ffffff;"
                     onclick="location.href = 'http://localhost/candles/history?coin_name=KRW-WAVES'">
                    <p style="text-transform: uppercase">W A V E S</p>
                </div>
                <div class="categories_box"
                     style="background: url('/src/img/list/quantum.png') no-repeat center center; background-size: cover; color: #ffffff;"
                     onclick="location.href = 'http://localhost/candles/history?coin_name=KRW-QTUM'">
                    <p style="text-transform: uppercase">Q u a n t u m</p>
                </div>
                <div class="categories_box"
                     style="background: url('/src/img/list/sand.jpg') no-repeat center center; background-size: cover; color: #ffffff;"
                     onclick="location.href = 'http://localhost/candles/history?coin_name=KRW-SAND'">
                    <p style="text-transform: uppercase">S a n d b o x</p>
                </div>
                <div class="categories_box"
                     style="background: url('/src/img/list/Lisk-main.jpg') no-repeat center center; background-size: cover; color: #ffffff;"
                     onclick="location.href = 'http://localhost/candles/history?coin_name=KRW-LSK'">
                    <p style="text-transform: uppercase">L i s k</p>
                </div>
                <div class="categories_box"
                     style="background: url('/src/img/list/medibloc.png') no-repeat center center; background-size: cover; color: #ffffff;"
                     onclick="location.href = 'http://localhost/candles/history?coin_name=KRW-MED'">
                    <p style="text-transform: uppercase">M e d i B l o c</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/src/js/main.js"></script>
</html>n