<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="stylesheet" href="/src/css/font.css">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
<div id="index_box">
    <%- include('./common/left_menu') %>
    <div id="box_right">
        <div id="box_right_padding">
            <i id="menu_open" onclick="menu_open()" class="fas fa-bars"></i>
            <p id="right_title">M a i n</p>
            <p id="right_content">ALL Contents</p>
            <div id="box_list">
                <div class="content_box" onclick="location.href = 'http://localhost/candles'">
                    <p>Chart Info.</p>
                </div>
                <div class="content_box" onclick="location.href = 'http://localhost/calculator'">
                    <p>Calculator</p>
                </div>
                <div class="content_box" onclick="location.href = 'http://localhost/graph/custom/high_low'">
                    <p>HIGH / LOW</p>
                </div>
                <div class="content_box" onclick="location.href = 'http://localhost/candles/history/backtest'">
                    <p>BACKTESTING</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/src/js/main.js"></script>
</html>