<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>GRGloginform</title>
    <link rel="stylesheet" type="text/css" href="/src/css/style.css">

</head>
<body>
        <div id="marginstudy">
            <img src="/src/css/리소스/최강수학 로고.jpg" alt="최강수학 로고" id="imageScale"><br>


            <input type="text" class="col" name="a" placeholder="Enter ID"> <br>  
            <input type="password" class="col" name="b"  placeholder="Enter Password"><br>
            <button type="submit" id="cursor_buttons" value="LOGIN">LOGIN</button>
       </div>


</body>
</html>